html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}

.UI {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.UI_header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.UI_footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.UI_header div {
  width: auto;
  height: 100%;
  justify-self: center;
  align-self: center;
}