html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.UI {
  position: absolute;
  inset: 0px;
}

/* Start Screen */
#StartScreen {
  --x: 0;
  --y: 0;
  --depth: 0;
  cursor: pointer;
}
.StartScreenScreen {
  position: absolute;
  inset: 0;
  background-position: center center;
  background-size: 110% 110%;
}

#StartScreen1 {
  background-image: url("./Assets/Pics/BackGround_TitleScreen.png");
}
#StartScreen2 {
  --depth: 50%;
  background-image: url("./Assets/Pics/MiddleGround_TitleScreen.png");
  background-position: calc(50% + (var(--x) - 0.5) * var(--depth)) calc(50% + (var(--y) - 0.5) * var(--depth));
}
#StartScreen3 {
  --depth: 100%;
  background-image: url("./Assets/Pics/ForeGround_TitleScreen.png");
  background-position: calc(50% + (var(--x) - 0.5) * var(--depth)) calc(50% + (var(--y) - 0.5) * var(--depth));
}

/* Main Menu */
#MainMenu {
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}

/* Map but not really */
#LogoShieldWithSettings {
  width: 50vw;
  position: relative;
  background-position: center center;
  background-size: 80%, contain;
  background-image: url(./Assets/Pics/Logo_black.png), url(./Assets/UIElemente/HolzSchild.png);
  background-repeat: no-repeat;
  rotate: -15deg;
  scale: 0.8;
}
#MapOptionButton {
  position: absolute;
  bottom: -3vh;
  right: 3vh;
  width: 7vh;
  height: 7vh;
  object-fit: contain;
}

#MapHeader > .GoldDisplay {
  justify-self: end;
  align-self: center;
  margin-right: 2em;
}

/* Map */
#Map {
  display: flex;
  flex-direction: column;
  background-image: url("./Assets/UIElemente/HimmelBackground.PNG");
  background-size: cover;
}
#MapHeader,
#MapOptions {
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.MapOption {
  width: 25vw;
  height: 25vw;
  cursor: pointer;
  text-align: center;
  z-index: 4;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: 50% 100%;
  transition: scale 0.2s ease, translate 0.2s ease;
}

.MapOption:hover:not(.selected) {
  scale: 1.1;
}

.MapOption.selected {
  scale: 1.3;
  z-index: 6;
  /* translate: var(--transX) -4vh; */
}

.MapOption.remove {
  scale: 0;
  transition: scale 1s, translate 1s;
}

.MapOption.center {
  scale: 1.5;
  transition: scale 1s, translate 1s, rotate 1s;
  translate: var(--transX2) 30vh;
  rotate: 0deg !important;
  z-index: 6;
}

.MapOption[data-type="-1"] {
  background-image: url("./Assets/UIElemente/CoverShop.PNG");
}
.MapOption[data-type="0"] {
  background-image: url("./Assets/UIElemente/CoverChallenge1.PNG");
}
.MapOption[data-type="1"] {
  background-image: url("./Assets/UIElemente/CoverChallenge2.PNG");
}
.MapOption[data-type="2"] {
  background-image: url("./Assets/UIElemente/CoverChallenge3.PNG");
}
.MapOption[data-type="3"] {
  background-image: url("./Assets/UIElemente/CoverChallenge4.PNG");
}

.MapOption:first-of-type {
  rotate: -15deg;
  --transX: -1vh;
  --transX2: 25vw;
}
.MapOption:last-of-type {
  rotate: 15deg;
  --transX: 1vh;
  --transX2: -25vw;
}

#MapHill {
  flex-grow: 1;
  background-image: url("./Assets/UIElemente/LandschaftBackground.PNG");
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 5vh;
  font-size: 6vh;
  margin-top: -5vh;
  z-index: 5;
  pointer-events: none;
}
#MapHill > * {
  pointer-events: all;
}
#MapHill[data-selected="0"] {
  background-image: url("./Assets/UIElemente/WegLinks.PNG"), url("./Assets/UIElemente/LandschaftBackground.PNG");
}
#MapHill[data-selected="1"] {
  background-image: url("./Assets/UIElemente/WegRechts.PNG"), url("./Assets/UIElemente/LandschaftBackground.PNG");
}

#MapProgressBarWrapper {
  --height: 50vh;
  height: var(--height);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

#MapProgressBar {
  height: 100%;
  --fill-color: lightblue;
  height: 0%;
  transition: height 1s ease-out;
}

#MapProgressBar,
#MapProgressBarCurrent {
  width: 10vw;
  background: linear-gradient(to top, var(--fill-color) 99.9%, transparent 99.9%), linear-gradient(to top, transparent 99%, var(--fill-color) 99%, var(--fill-color) 100%, transparent 100%);
  background-position: 0 75%, 0 78%;
  background-size: 100% 5px, calc(var(--currentLevel) / var(--totalLevels) * var(--width)) 20%;
  background-repeat: no-repeat, repeat-x;
}

/* Fight Prep */
#FightPrepEumlings {
  padding: 10px;
  background-color: brown;
  cursor: pointer;
}


/* FIGHT */
#FightPhaseOverlay {
  display: none;
}

#FightPhaseOverlay.active {
  display: grid;
  place-items: center;
}

#FightPhaseOverlayText {
  color: white;
  font-size: 3rem;
}

#FightPhaseOverlay.active>#FightPhaseOverlayText {
  animation: fight-phase-overlay 1s linear forwards;
}

@keyframes fight-phase-overlay {
  0% {
    transform: translateX(-100vw);
  }

  20% {
    transform: translateX(-10vw);
  }

  50% {
    transform: translateX(0vw);
  }

  80% {
    transform: translateX(10vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

/* Fight Reward */
#FightRewardRewards {
  display: grid;
  place-items: center;
}

/* Game Overlay Info */
.EntityOverlay {
  position: absolute;
}

/* Other */
#ChooseStoneInner,
#ChooseEumlingInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

#ChooseEumlingInfo,
#ChooseStoneInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3vh;
  gap: 1vh;
}

.ChooseEumlingType {
  font-size: 1.2em;
  font-weight: 700;
}

#ChooseStoneConfirm,
#ChooseEumlingConfirm {
  font-size: 3vh;
}

/* Reusables */

.EumlingUIElement {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: wheat; */
}

.EumlingUIElement > * {
  pointer-events: none;
}

.EumlingUIElement.selected {
  /* background-color: lightblue; */
}

.StoneUIElement {
  --size: 20vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./Assets/UIElemente/ItemBackdrop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}
.StoneUIElement::after {
  content: '';
  background-image: var(--stone-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80%;
  height: 80%;
}

.StoneUIElement.animate {
  animation: stone-animate 1s linear;
}
.StoneUIElement.selected {
  filter: drop-shadow(2px 2px 0 green) drop-shadow(-2px 2px 0 green) drop-shadow(2px -2px 0 green) drop-shadow(-2px -2px 0 green);
}

@keyframes stone-animate {
  0% {scale: 1}
  50% {scale: 1.2}
  100% {scale: 1}
}

/* SHOP */
.ShopOption {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: bisque;
}

/* MISC */

.no-interact {
  pointer-events: none;
}

.interact {
  pointer-events: all;
}

.hidden {
  display: none !important;
}
button.hidden {
  display: block !important;
  visibility: hidden;
}

.blur {
  backdrop-filter: blur(40px);
}

.center-center {
  display: grid;
  place-items: center;
}

button {
  background: none;
  border: none;
  padding: 0.5em 0.75em;
  background-image: url("./Assets/UIElemente/ButtonGr.png");
  background-size: 100% 100%;
  color: white;
  font-size: inherit;
  font-family: inherit;
  transition: filter 0.1s, translate 0.1s;
}

button,
.clickable {
  transition: filter 0.1s, translate 0.1s, scale 0.2s;
  filter: drop-shadow(0.1em 0.1em 0 #3e2e1d);
  cursor: pointer;
}

.clickable:not(:disabled):not(.selected):hover,
button:not(:disabled):not(.selected):hover {
  scale: 1.05;
}

.clickable:active,
button:active {
  filter: none;
  translate: 0.1em 0.1em;
}

button:disabled,
.clickable:disabled {
  cursor: default;
}

.clickable.selected {
  scale: 1.2;
}

.selectable {
  background-color: #f7f7f9;
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em;
}

button.green {
  background-image: url("./Assets/UIElemente/ButtonGrGruen.png");
}
button.red {
  background-image: url("./Assets/UIElemente/ButtonGrRot.PNG");
}

.GoldDisplay {
  background-image: url("./Assets/UIElemente/ButtonGr.png");
  background-size: 100% 100%;
  width: 6em;
  height: 3em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 1em;
}
.GoldDisplay::before {
  display: inline-block;
  content: "";
  background-image: url("./Assets/UIElemente/Muenze.PNG");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -50%;
}

.ChoiceScreen {
  width: 80vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  /* background: url("./Assets/UIElemente/HolzSchild.png") center no-repeat; */
  background-size: contain;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.ChoiceScreen > span {
  display: block;
  background: url("./Assets/UIElemente/ButtonKl.png") center no-repeat;
  background-size: 100% 100%;
  height: 6vh;
  color: white;
  display: grid;
  place-items: center;
  padding: 1em 3em;
  font-weight: 700;
  margin-bottom: 3vh;
}

.ChoiceScreen > div {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.InfoScreen {
  background: url("./Assets/UIElemente/HolzRahmen.png") center no-repeat;
  background-size: 100% 100%;
  color: white;
  width: 80vw;
  height: 65vw;
  padding: 10vw;
}