html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.UI {
  position: absolute;
  inset: 0px;
}

/* Map */
#MapOptions {}

.MapOption {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid black;
  text-align: center;
}

.MapOption:hover:not(.selected) {
  scale: 1.1;
}

.MapOption.selected {
  scale: 1.2;
}

.MapOption.remove {
  scale: 0;
  transition: scale 1s;
}

.MapOption.center {
  scale: 1.5;
  transition: scale 1s;
}


#MapProgressBarWrapper {
  --height: 50vh;
  height: var(--height);

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

#MapProgressBar {
  height: 100%;
  --fill-color: lightblue;
  height: 0%;
  transition: height 1s ease-out;
}

#MapProgressBar,
#MapProgressBarCurrent {
  width: 10vw;
  background: linear-gradient(to top, var(--fill-color) 99.9%, transparent 99.9%), linear-gradient(to top, transparent 99%, var(--fill-color) 99%, var(--fill-color) 100%, transparent 100%);
  background-position: 0 75%, 0 78%;
  background-size: 100% 5px, calc(var(--currentLevel) / var(--totalLevels) * var(--width)) 20%;
  background-repeat: no-repeat, repeat-x;
}

/* Fight Prep */
#FightPrepEumlings {
  padding: 10px;
  background-color: brown;
  cursor: pointer;
}


/* FIGHT */
#FightPhaseOverlay {
  display: none;
}

#FightPhaseOverlay.active {
  display: grid;
  place-items: center;
}

#FightPhaseOverlayText {
  color: white;
  font-size: 3rem;
}

#FightPhaseOverlay.active>#FightPhaseOverlayText {
  animation: fight-phase-overlay 1s linear forwards;
}

@keyframes fight-phase-overlay {
  0% {
    transform: translateX(-100vw);
  }

  20% {
    transform: translateX(-10vw);
  }

  50% {
    transform: translateX(0vw);
  }

  80% {
    transform: translateX(10vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

/* Fight Reward */
#FightRewardRewards {
  display: grid;
  place-items: center;
}

/* Game Overlay Info */
.EntityOverlay {
  position: absolute;
}

/* Reusables */

.EumlingUIElement {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
}

.EumlingUIElement > * {
  pointer-events: none;
}

.EumlingUIElement.selected {
  background-color: lightblue;
}

.StoneUIElement {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
  cursor: pointer;
}

.StoneUIElement.animate {
  animation: stone-animate 1s linear;
}
.StoneUIElement.selected {
  background-color: lightblue;
}

@keyframes stone-animate {
  0% {scale: 1}
  50% {scale: 1.2}
  100% {scale: 1}
}

/* SHOP */
.ShopOption {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: bisque;
}

/* MISC */

.no-interact {
  pointer-events: none;
}

.interact {
  pointer-events: all;
}

.hidden {
  display: none !important;
}

.blur {
  backdrop-filter: blur(40px);
}

.center-center {
  display: grid;
  place-items: center;
}